$bg_color: #21232e;
$font: 'Hind', sans-serif;
$header_bg: url('../img/m-h-night.jpg');
$header_color: #ffffff;
$btn_color: #e3ac00;
$text_color: #d1c6ac;
$sections_bg_color: #3b3f50;
$gradient: linear-gradient(to right, #E2AD0D, #CA5744);
$underline_color: #ff4e33;
