$bg_color: #fff;
$font: 'Source Sans Pro', sans-serif;
$header_bg: url('../img/m-h-day.jpg');
$header_color: #2C2F3C;
$btn_color: #669501;
$text_color: #c0c3c9;
$sections_bg_color: #272532;
$gradient: linear-gradient(to right, #68930B, #315aa5);
$underline_color: #3898CA;
