* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1900px;
  min-width: 1000px;
  margin: auto;
  font-family: fantasy;
}
p {
	color: #777;
}
.wrapper {
  padding-left: 300px;
  padding-right: 300px;
  margin: auto;
  max-width: 1800px
}
.header {
  background-color: #FFFFFF;
  padding-bottom: 30px;
}
.top_nav {
  display: flex;
  justify-content: space-between;
}
.main_nav {
  float: right;
  list-style: none;
  margin-top: 30px;
  margin-right: 180px;
}
.main_nav li {
  display: inline-block;
  padding: 1px 20px;
}
.main_nav li a {
  text-decoration: none;
  color: #777;
  font-size: 18px;
}
.logo {
  float: left;
  font-size: 22px;
  font-weight: 400;
  width: 250px;
  color: black;
  margin-top: 30px;
  margin-left: 180px;
  text-decoration: none;
  color: #777;
}
.preview {
	background-image: url('../img/home-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 920px;
  width: 100%;
  text-align: center;
  opacity: 0.9;
  position: relative;
  z-index: 3;
}
.preview:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  background: rgba(0,0,0,.7);
  z-index: -1;
}
.preview_header {
	padding-top: 370px;
	color: #FFFFFF;
	font-size: 60px;
}
.preview_label {
	color: #bfba55;
	padding-top: 35px;
	font-size: 18px;
}
.preview_btn {
	margin-top: 50px;
	padding: 20px 40px;
	border: 1px;
	border-radius: 40px;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
}
.blog {
	padding-top: 80px;
}
.blog_photo {
	width: 100%;
}
.blog_title {
	padding-top: 40px;
}
.user {
	padding-top: 20px;
	display: flex;

}
.user_pic {
	width: 8%;
	border-radius: 50%;
}
.about_user {
	display: flex;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 18px;
}
.comment_icon {
	padding-left: 20px;
	word-spacing: 5px;
}
.user_name, .date {
	padding-right: 30px;
}
.user_description {
	padding-top: 20px;
	font-size: 20px;
}
.continue {
	padding: 15px 25px;
	border: 1px solid #777;
	border-radius: 40px;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
	margin-top: 40px;
	margin-bottom: 40px;
	color: #777;
  background: none;
}
.footer {
  background-color: #000;
  padding-left: 300px;
  padding-right: 300px;
  padding-bottom: 100px;
  padding-top: 100px;
}
.left_side {
  width: 50%;
  float: left;
  padding-right: 150px;
}
.footer h2 {
  color: #ffffff;
}
.footer h2, p {
  padding-bottom: 18px;
}
.footer_text {
  word-spacing: 5px;
}
