@media print {
  .tm-sidebar, .tm-team-img, #about, .tm-content-box .boxes,  .carousel-indicators,  .img-contact-us, #contact {
    display: none;
  }
  .tm-main-content, .tm-banner {
    padding: 0;
  }
  .padding-medium.flex-item.tm-team-description-container.flex-item, .heading {
    text-align: center;
    max-width: 100%;
  }
  .heading, .padding-medium, .carousel {
    padding: 0;
    margin: 0;
  }
  h2 {
    color: lightskyblue;
    text-transform: uppercase;
        font-weight: 300;
  }
  .blocks .tm-team-description-container p:last-child {
    letter-spacing: 5px;
    word-spacing: 10px;
    font-style: italic;
  }
  .padding-medium ol li  {
		list-style-type: none;
		text-align: left;
	}
	.padding-medium ol li:nth-child(odd) {
		text-align: right;
	}
  .heading .padding-medium {
    max-width: 50%;
    margin-left: 25%;
  }
  .blocks .flex-2-col {
    display: none;
  }
  .tm-footer {
    padding: 0;
  }
}
@media screen {
  .tm-banner {
    background: linear-gradient(to right, lightskyblue, burlywood);
  }

  .tm-banner-inner {
    background-color: white;
  }
  .tm-banner-text {
    animation: slide-left 2s linear;
  }
  @keyframes slide-left {
    from {
      padding-left: 400px;
    }

    to {
      margin-left: 0%;
    }
  }
  .tm-sidebar, .tm-content-box, .blocks {
    box-shadow: 0 8px 15px 0 rgba(61, 55, 61, 0.7);
  }
  .tm-sidebar li:hover {
    background-color: lightskyblue;
  }
  .tm-banner-text {
    text-shadow: 2px 5px 3px #333;
  }
  section .flex-2-col {
    display: flex;
  }
  section:before{
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-top: 50px solid lightskyblue;
    border-right: 45px solid transparent;
    z-index: 1;
  }
  .flex-2-col .padding-medium {
    padding-top: 200px;
  }
  .tm-section-title {
    text-align: center;
  }
  .tm-section-description::first-letter {
    padding-left: 30px;
  }
   #about .box:hover {
    background: lightgrey;
    color: lightskyblue;
    cursor: pointer;
  }
  .heading .padding-medium h2 {
    text-align: center;
    color: lightskyblue;
  }
  .heading ol {
    list-style-type: lower-alpha;
  }
  .heading li:hover:before {
    content: '>';
  }
  .heading ol .text::after {
    content: 'New';
    font-size: 9px;
    vertical-align: top;
    color: red;
    font-weight: bold;
    display: inline-block;
  }
  .heading ol .text::after:hover {
    text-decoration: none;
  }

  .blocks .tm-team-description-container .tm-section-title {
    text-align: left;
  }
  .blocks .tm-team-description-container p:last-child {
    letter-spacing: 5px;
    word-spacing: 10px;
    font-style: italic;
  }
  .blocks .tm-content-box .gallery-container li:nth-child(2n + 1) {
    background-color: lightskyblue;
    color: white;
  }
  .blocks .tm-content-box .gallery-container li {
    padding: 8px;
  }
  .gallery-container li p::first-letter {
    font-weight: bold;
  }
  .gallery-container li p {
    font-style: italic;
  }
  .contact-form input:focus {
    background-color: lightskyblue;
  }
  .contact-form input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: lightblue;
  }
  .contact-form textarea {
    border-color: lightblue;
  }
  #contact_message {
    background:  url(../img/email-icon.png) no-repeat;
    background-position-x: 99%;
    background-position-y: 97%;
    background-size: 30px;
  }
  .contact-form .submit-btn {
    float: right;
    background-color: white;
    color: lightskyblue;
    border-color: lightskyblue;
  }
}
